extends ../layout

block append content
  if errors.length
    ul(style="color: red")
      each message in errors
        li= message
  form(method="post", action="/user/login")
    label
      span
        | Email
      input(type="email", name="email")
    label
      span
        | Password
      input(type="password", name="password")
    button(type="submit")
      | Log in
